<div id="clients" class="clients container">
    <div class="clients__content">
        <img src="./assets/images/clients/logov2/bnw/michelin-logo.png" alt="michelin"
            class="clients__client clients__client--1">
        <img src="./assets/images/clients/logov2/bnw/orange-logo.png" alt="orange"
            class="clients__client clients__client--2">
        <img src="./assets/images/clients/logov2/bnw/hasbro-logo.png" alt="hasbro"
            class="clients__client clients__client--3">
        <img src="./assets/images/clients/logov2/bnw/formulaE-logo.png" alt="formula-e"
            class="clients__client clients__client--4">
        <img src="./assets/images/clients/logov2/bnw/michelin-logo.png" alt="michelin"
            class="clients__client clients__client--5">
        <img src="./assets/images/clients/logov2/bnw/orange-logo.png" alt="orange"
            class="clients__client clients__client--6">
        <img src="./assets/images/clients/logov2/bnw/hasbro-logo.png" alt="hasbro"
            class="clients__client clients__client--7">
        <img src="./assets/images/clients/logov2/bnw/formulaE-logo.png" alt="formula-e"
            class="clients__client clients__client--8">
    </div>
</div>