<div id="home" class="home container">

    <div class="home__contact">
        <h2 class="home__contact__text">We are creators of digital experience.<br>Want to discover more ?</h2>
        <div class="home__contact__email">
            <div class="home__contact__email--placeholder">Send us your email</div>
            <form action="" class="home__contact__form">
                <input class="home__contact__email--input" type="email">
                <input class="home__contact__email--submit" type="submit" value="Submit">
            </form>
        </div>
    </div>

</div>