html { font-size: 10px; overflow: hidden; }
body { margin: 0; }

/* FONTS */
@font-face {
    font-family: 'DIN';
    src: url('../assets/fonts/DIN-Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'DIN';
    src: url('../assets/fonts/DIN-Medium.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'DIN';
    src: url('../assets/fonts/DIN-Bold.ttf');
    font-weight: 600;
}

/* COLORS */
$color__white: #fff;
$color__black: #000;
$color__blue: #0B5679;
$color__grey: #8B8B8B;

/* VIEWPORTS */
$viewport__lg: 1440px;
$viewport__lg--offset: 120px;
$viewport__md: 1024px;
$viewport__md--offset: 40px;
$viewport__sm: 480px;
$viewport__sm--offset: 20px;

.container {
    max-height: 100vh;
    overflow-y: hidden;

    &__bg {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
}

.case {
    user-select: none;

    &__initial {

    }
}